._title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-font-black);
  padding: 20px 0;
}

// EN / KR
.gravitas-one {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
}

// EN 
.zeyada {
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
}

// EN / KR
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

// KR / EN
.changa-one {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// KR / EN
.changa-one-italic {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: italic;
}

// KR / EN
.nanum-gothic {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}