:root {
  --color-logo: #B9DAFF;
  --color-red: #F73B51;
  --color-pink: #FF7480;
  --color-yellow: #FFD16A;
  --color-green: #86BD98;
  --color-blue: #5088E3;
  --color-sky-blue: #7EB6FF;
  --color-black: #000000;
  --color-gray: #5F5F5F;
  --color-gray-light: #A0A0A0;
  --color-white: #FFFFFF;
  
  /** DARK MODE */
  --color-dark-1: #212121;
  --color-dark-2: #606060;
  --color-dark-opacity: #212121a5;
  
  /** BORDER */
  --color-border-1: #CCCCCC;
  --color-border-2: #AAAAAA;
  --color-border-3: #38383838;
  --color-border-4: #0000001f;
  
  /** BACKGROUND */
  --color-bg-1: #DBDBDB;

  /** FONT */
  --color-font-black: #666666;
}