.header {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .logo {
    width: 100px;
    height: auto;
  }

  .right_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    .user_info {
      font-size: 0.8rem;
      font-weight: 500;
      color: var(--color-font-black);
      cursor: pointer;

      &:hover {
        color: var(--color-sky-blue);
      }
    }
  }
}