.header {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px;
  
  
  .logo {
    width: 100px;
    height: auto;
  }

  .divider {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 30px;
  
    .divider_item {
      font-size: 0.9rem;
      font-weight: 500;
      color: var(--color-font-black);
      cursor: pointer;
  
      &:hover {
        color: var(--color-sky-blue);
      }
    }

    .active {
      color: var(--color-sky-blue);
      font-weight: 700;
    }
  } 

  .right_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    .user_info {
      font-size: 0.8rem;
      font-weight: 500;
      color: var(--color-font-black);
      cursor: pointer;

      &:hover {
        color: var(--color-sky-blue);
      }
    }
  }
}

@media (max-width: 500px) {
  .header {
    
    .divider {
      display: none;
    }

    .right_menu {
      .btn {
        display: none;
      }
    }
  }
}


/** DARK MODE */
@media (prefers-color-scheme: dark) {
  .header {
    .divider .divider_item, .right_menu .user_info {
      color: var(--color-white);
    }

    .divider .active {
      color: var(--color-sky-blue);
    }
  }
}
