.toast {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background: var(--color-border-1);
  color: var(--color-white);
  font-size: 0.7rem;
  font-weight: bold;  
  
  opacity: 0;
  animation: fade 1.5s ease forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.button_a {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: var(--color-font-black);


  .title {
    margin-bottom: 20px;
    font-size: 0.9rem;
  }

  .btn {
    width: 100%;
    font-size: 0.9rem;
    font-weight: bold;
    border: 1px solid var(--color-font-gray);
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;

    
    .btn_title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;
      
      .arrow {
        transition: transform 0.65s ease;
        
        img {
          width: 15px;
  
        }
      }
  
      .active{
        transform: rotate(-180deg);
      }
    }

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;

      padding: 20px 10px 10px 10px;

      .content_header {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        
        .content_bank {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          font-size: 0.7rem;
          color: var(--color-font-gray);
        }
        
        .content_info {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          
          .relation {
            font-size: 0.6rem;
            padding: 5px 8px;
            border-radius: 5px;
            background-color: var(--color-bg-1);
            color: var(--color-white);
          }
        }
      }


      .copy {
        padding: 5px 10px;
        font-size: 0.7rem;
        border: none;
        background-color: var(--color-sky-blue);
        border-radius: 5px;
        color: var(--color-white);
        cursor: pointer;
      }
    }
  }
}