.indexContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 100vh;
  justify-content: center;
  align-items: center; 

  .logo {
    margin-bottom: 50px;
    width: 150px;
    cursor: pointer;

    img {
      height: auto;
    }
  }
}

